html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

body,
p,
h2,
h1,
h4,
h3,
h5,
ul {
  margin: 0px;
  padding: 0px;
}

form {
  margin: auto;
  margin-top: 0rem;
  box-shadow: 1px 2px 6px lightgrey;
}
.pictures-container {
  margin-top: 1rem;
}
